.banner {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.banner img {
  max-width: 1000px;
  height: auto;
}

.text-area {
  max-width: 1000px;
  margin: 0 auto;
}

.text-area h1 {
  font-size: 2rem;
  margin: 20px 0 20px 0;
}

.text-area p {
  margin: 20px 0 20px 0;
}

.john,
.jane {
  max-width: 1000px;
  margin: 0 auto;
}
