nav {
  background: transparent;
}

.banner {
  height: 100vh;
  width: 100%;
  background-image: url("../img/local/home-banner.jpg");
}

.latest-adventures h2 {
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 1048px) {
  nav {
    background: #829483;
  }
}
