.bookmark {
  margin: 20px;
}

.bookmark a {
  color: #292828;
  text-decoration: none;
}

main {
  margin-top: 100px;
}

.back {
  margin: 40px 20px;
}

.back a {
  color: #292828;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.back-to-posts i {
  margin: 2.5px 5px 0 0;
}

#image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 250px;
  margin: 20px 20px 0 20px;
  cursor: pointer;
}

#image:hover {
  opacity: 0.7;
}

.content {
  margin: 20px auto;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

.modal-image {
  position: absolute;
  top: 25%;
  left: 10%;
  max-width: 300px;
}

.title,
.date,
p {
  padding: 0 20px;
}

.title,
.date {
  margin: 20px auto;
}

#image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin: 20px 20px 0 20px;
  cursor: pointer;
}

#image:hover {
  opacity: 0.7;
}

.content {
  margin: 20px auto;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-image {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  max-width: 300px;
}

@media (min-width: 768px) {
  .modal-image {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -300px;
    max-width: 600px;
  }
}

@media (min-width: 1024px) {
  .bookmark {
    margin: 20px 250px;
  }

  .modal-image {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -450px;
    max-width: 900px;
  }

  #image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    cursor: pointer;
    margin: 0 250px;
  }

  .title,
  .date,
  .content {
    margin: 20px 250px;
  }

  .title,
  .date,
  p {
    padding: 0;
  }

  .back {
    margin: 40px 250px;
  }
}

@media (min-width: 1444px) {
  .bookmark {
    margin: 20px 400px;
  }

  #image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin: 20px auto;
    cursor: pointer;
    margin: 0 400px;
  }

  .title,
  .date,
  .content {
    margin: 20px 400px;
  }

  .back {
    margin: 40px 400px;
  }
}
